<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 2rem; height: 100vh; padding: 0; margin: 0;">
    <p>You never know what emoji you will get</p>
    <p style="font-size: 4rem;">&#{{ emoji }}</p>
</body>
</html>